<h3>User</h3>
<p>ID: <%= @user.uid %>
<p>Username: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Name: <%= @user.first_name if @user.first_name %> <%= @user.last_name if @user.last_name %></p>
<p>Avatar: <img src="<%= @user.avatar if @user.avatar %>"></p>

<a href="./">Back to index</a>